.parametros-container {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 80%;
  background: var(--background-box-color);
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(39, 80, 93,0.5);
}

.parametros-titulo{
  padding: 30px 0px 10px 30px;
  border-bottom: 1px solid var(--border-color);
}

.parametros-form {
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#corte{
  margin-top: 1.5rem;
}

.parametros-form h2{
  color:var(--acent-color);
}

.parametros-form h3{
  margin-top:1rem;
}

.parametros-corte{
  grid-column: 1;
  grid-row: 1;
}

.parametros-izquierda{
  grid-column: 1;
}

.parametros-derecha{
  grid-column: 2;
}

.parametros-section{
  display: flex;
  padding: 0px 10px;
  flex-direction: column;
}
.parametros-renglon{
  display: flex;
}


.parametros-checkbox{
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 10px;
}

.inputErrorLabel{
  color:red
}


input[type="number"]{
  width: 100%; 
}

input[type="number"]:focus{
  border-color: var(--acent-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(24, 157, 205, 0.3);
}

input[type="checkbox"]{
  accent-color:var(--acent-color)
}