.table-wrapper{
    max-width: 100%;
    max-height: 50vh;
    overflow: scroll;
}

.table-scrollx{
    overflow-x: hidden;
    margin-bottom: 4rem;
}

.pantalla2-h1{
    text-align: center;
}

#table-promedio{
    color: var(--acent-color);
    padding-top: 25px;
    padding-left: 25px;
    text-align: left;
    width: 100%;
}

#table-promedio strong{
    color: var(--acent-color);
    font-size: 1.5rem;
    font-weight: 800;
    
}