.table-wrapper{
    max-width: 100%;
    max-height: 70vh;
    overflow: scroll;
}

.table-scrollx{
    overflow-x: hidden;
    margin-bottom: 4rem;
}

.pantalla2-h1{
    text-align: center;
}

.estadistica-wrapper{
    margin-top: 1rem;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

#table-promedio{
    color: var(--acent-color);
    text-align: left;
    width: 100%;
}

#table-promedio strong{
    color: var(--acent-color);
    font-size: 1.5rem;
    font-weight: 800;
    
}