*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color:var(--color-text);
}


html{
  width: 100vw;
  --border-color:#D4D8DA;
  --color-text:#141515;
  --hover-text-color:#768686;
  --primary-color:#27505d;
  --secondary-color:#7cc4de;
  --acent-color:#189dcd;
  --border-table-color:rgba(0 , 0, 0,0.3);
  --background-color:#ecf1f3;
  --background-box-color:#fcfeff;
}

body{
  background: var(--background-color);
  padding-top: 10vh;


}

h1,h2,h3{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1{
  font-size: 2.3rem;
  font-weight: 700;
}

h2{
  font-size: 1.8rem;
  font-weight: 700;
}

h3{
  font-size: 1.5rem;
  font-weight: 650;
}


/* .josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */